# java
.java-version
.java
.m2

# idea
.idea

# xfce
app
root
workspace
.dbus
.cache
.oh-my-zsh
.zsh_history
.vnc
!.vnc/xstartup
.Xauthority
.zcompdump-*
.ICEauthority
.config
.bash_history
.local
.mozilla
.ssh
Desktop
logs

# SmartTomcat
.SmartTomcat

# MySQL
data