# 启动
# docker-compose up
# docker-compose up --build

# ssh
# docker exec -it rocky-linux-vnc bash
# docker exec -it rocky-linux-vnc zsh
# ROOT权限进去，用户改密码
# docker ps
# docker exec -it --user root rocky-linux-vnc /bin/bash
# docker exec -it --user root rocky-linux-vnc /bin/zsh
# passwd

# mysql57
# docker exec -it --user root portable-mysql57 /bin/bash
# docker inspect portable-mysql57 | grep IPAddres

# redis
# docker exec -it --user root portable-redis /bin/bash
# docker inspect portable-redis | grep IPAddres

version: '3'
services:
  rocky-linux-vnc:
    image: terwer/rockylinux:8.5
    container_name: rocky-linux-vnc
    build:
      context: ./rocky-linux-vnc
      dockerfile: Dockerfile
    ports:
        - "5901:5901"
        - "8080:8080"
    volumes:
      - ./rocky-linux-vnc/app:/app
      - ./rocky-linux-vnc/workspace:/workspace
      - ./rocky-linux-vnc/scripts:/scripts
      - ./rocky-linux-vnc/config:/config
      - ./rocky-linux-vnc/mytemp:/mytemp
    privileged: true
    stdin_open: true
    tty: true
    restart: "no"
  portable-mysql57:
    stdin_open: true
    tty: true
    image: terwer/portable-mysql57:5.7.38
    container_name: portable-mysql57
    build:
     context: ./portable-mysql57
     dockerfile: Dockerfile
    ports:
     - "3307:3307"
    environment:
     # 最好使用此设定时区，其它镜像也可以使用，也可以用"TZ=Asia/Shanghai"
     - "TZ=CST-8"
     - "MYSQL_ROOT_PASSWORD=123456"
     - "MYSQL_ROOT_HOST=%"
     - "MYSQL_DATABASE=test"
     - "MYSQL_USER=terwer"
     - "MYSQL_PASSWORD=123456"
    volumes:
     - ./portable-mysql57/data:/var/lib/mysql
     - ./portable-mysql57/init:/docker-entrypoint-initdb.d/
     - ./portable-mysql57/sql:/opt/
     - ./portable-mysql57/mylog:/mylog/
    restart: "no"
  portable-redis:
    image: terwer/portable-redis:7.0.0
    container_name: portable-redis
    build:
     context: ./portable-redis
     dockerfile: Dockerfile
    ports:
     - "6380:6380"
    environment:
     # 最好使用此设定时区，其它镜像也可以使用，也可以用"TZ=Asia/Shanghai"
     - "TZ=CST-8"
    volumes:
      - ./portable-redis/conf:/myconf
    stdin_open: true
    tty: true
    restart: "no"
